
$color-primary: rgba(184,1,1,1);
$color-secondary: rgba(107,42,10,1);
$color-background-dark: rgba(19,19,2,1);
$color-background-light: rgba(229,231,230,1);
$color-background-gray: rgba(220,220,220,1);
$color-accent: rgba(72,243,246,1);

$font-light: rgba(229,231,230,1);
// $font-dark: ;

$color-primary: #3A758C;
$color-secondary: #2E382E;
$color-accent: #9883E5;
