@import '../../../common/styles/colors';

.venue-layout-tools-side{
  padding: 0px;
  overflow: auto;
  height: 100%;
  width: 0px;
  background-color: $color-background-gray;
  z-index: 20;
  &.display{
    width: 350px;
    padding: 10px;
  }

  .venue-layout-tools-side-item{
    list-style: none;
    margin: 3px 0px;
    background-color: rgba(255,255,255,1);
    .venue-layout-tools-side-item-summary{
      height: 30px; line-height: 30px;
      display: flex;
      .reorder{
        height: 0px;
        width: 0px;
      }
      .venue-layout-tools-side-item-name{
        padding: 0px 10px;
        flex: 1;
        &:hover{
          box-shadow: inset 0px 0px 250px 0px rgba(0,0,0,.1);
          cursor: pointer;
        }
      }
    }
    .venue-layout-tools-side-item-details{
      margin: 10px;
      display: none;
      padding: 0px 0px 10px;
      input{
        width: 100%;
        font-size: 14px;
        height: 30px;line-height: 30px;
      }
      
      .venue-layout-tools-side-item-details-form{
        .flex{
          margin: 5px 0px;
          display: flex;
          .flex-item{
            margin: 0px 5px;
            flex: 1;
            
          }
        }
      }
    }
    &.active{
      .venue-layout-tools-side-item-details{
        display: block;
      }
    }
  }
  
}